    <%- include('base/header.ejs') %>
     
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="pageTab">
                <h6>Bons des commandes</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">

                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Titre</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Points</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Points précédents</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Points actuels</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PDV</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de la commande</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de validation</th>
                      <th id="thControl"></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% if (data.length != 0){ %> 
                      <% for (let gain of data) { %>
                        <tr>
                          <td>
                            <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.title %></p>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.points %></p>
                          </td>

                          <td class="align-middle text-center text-sm">
                            <% if (gain.previous_points != undefined){ %>
                              <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.previous_points %></p>
                            <% } else { %>
                              <p class="text-xs font-weight-bold mb-0 text-center">-</p>
                            <% } %>
                          </td>

                          <td class="align-middle text-center text-sm">
                            <% if (gain.previous_points != undefined){ %>
                              <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.current_points %></p>
                            <% } else { %>
                              <p class="text-xs font-weight-bold mb-0 text-center">-</p>
                            <% } %>
                          </td>

                          <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.status %></p>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.pdvname %></p>
                          </td>

                          <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.date.toISOString().substring(0, 10) %></p>
                          </td>

                          <td class="align-middle text-center text-sm">
                            <% if (gain.validation_date != undefined){ %>
                              <p class="text-xs font-weight-bold mb-0 text-center"><%= gain.validation_date.toISOString().substring(0, 10) %></p>
                            <% } else { %>
                              <p class="text-xs font-weight-bold mb-0 text-center">-</p>
                            <% } %>
                          </td>

                          <td class="catPanel" class="align-middle">
                            <% if (gain.previous_points == undefined){ %>
                              <button id="editBtn" data-bs-toggle="modal" data-bs-target="#modal-form" onclick="editForm('<%= gain.id %>')"></button>
                            <% } else { %>
                              <button style="cursor: default;"></button>
                            <% } %>
                          </td>
                        </tr>
                      <% } %>
                    <% } else{ %>
                      <tr>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                      </tr>
                    <% } %> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- ---------------------- DELETE DATA POPUP -------------------- -->

<!-- -------------------- CREATE NEW DATA POPUP------------------- -->
      <div class="col-md-6">
        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card card-plain">
                  <div class="card-header pb-0 text-left">
                    <h5 class="text-center"></h5>
                  </div>
                  <div class="card-body">
                    <form id="createForm" class="row" method="POST">

                      <div class="input-group input-group-outline my-3">
                        <select class="form-control" name="status" required>
                          <option value="Commandé">Commandé</option>
                          <option value="Validé">Validé</option>
                        </select>
                      </div>

                      <input type="hidden" name="id">
                        
                      <div class="text-center">
                        <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0"></button>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
        
        //------------------ activate page button ------------------
        $("#pageTitle").html('Commandes Cadeaux');
        $("#commandeCadeauxLink").addClass('active bg-gradient-primary');

        // ------------------- edit data record --------------------
        const gains =  JSON.parse(`<%- JSON.stringify(data) %>`);

        function editForm(id){
          var gain = gains.find(x => x.id == id);
          $("#createForm select[name='status']").val(gain.status);
          $("#createForm input[name='id']").val(id);

          $("#createForm .input-group").addClass('focused is-filled');
          $('#modal-form h5').html('Mettre à jour le statut de la commande');
          $("#createForm button").html('Mettre à jour');
        }
        // ------------------- update data record --------------------
        $('#createForm').submit((event) => {
          event.preventDefault();

          if ($("#createForm select[name='status']").val() == "Validé") {
            var id = $("#createForm input[name='id']").val();
            var gain = gains.find(x => x.id == id);

            $.ajax({
              type: 'PATCH',
              url: '',
              data: {
                id: id,
                status: 'Validé',
                pdv_id: gain.pdv_id,
                cadeau_points: gain.points
              },
              success: function() {
                location.reload();
              }
            })
          } else {
            $("#modal-form").click();
          }
        });
      </script>

      <%- include('base/footer.ejs') %> 